[package]
name = "tiger"
version = "0.3.0-pre"
description = "Tiger hash function"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
readme = "README.md"
edition = "2021"
documentation = "https://docs.rs/tiger"
repository = "https://github.com/RustCrypto/hashes"
keywords = ["crypto", "hash", "tiger", "digest"]
categories = ["cryptography", "no-std"]
rust-version = "1.65"

[dependencies]
digest = "=0.11.0-pre"

[dev-dependencies]
digest = { version = "=0.11.0-pre", features = ["dev"] }
hex-literal = "0.4"

[features]
default = ["std"]
std = ["digest/std"]
