[package]
name = "tiger"
version = "0.3.0-rc.0"
description = "Tiger hash function"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
readme = "README.md"
edition = "2024"
rust-version = "1.85"
documentation = "https://docs.rs/tiger"
repository = "https://github.com/RustCrypto/hashes"
keywords = ["hash", "tiger", "digest"]
categories = ["cryptography", "no-std"]

[dependencies]
digest = "0.11.0-rc.8"

[dev-dependencies]
digest = { version = "0.11.0-rc.8", features = ["dev"] }
hex-literal = "1"
base16ct = { version = "1", features = ["alloc"] }

[features]
default = ["alloc"]
alloc = ["digest/alloc"]
zeroize = ["digest/zeroize"]

[package.metadata.docs.rs]
all-features = true
