[package]
name = "sha3"
version = "0.11.0-pre"
description = """
Pure Rust implementation of SHA-3, a family of Keccak-based hash functions
including the SHAKE family of eXtendable-Output Functions (XOFs), as well as
the accelerated variant TurboSHAKE
"""
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
readme = "README.md"
edition = "2021"
documentation = "https://docs.rs/sha3"
repository = "https://github.com/RustCrypto/hashes"
keywords = ["crypto", "sha3", "keccak", "hash", "digest"]
categories = ["cryptography", "no-std"]
rust-version = "1.65"

[dependencies]
digest = "=0.11.0-pre"
keccak = "0.1.4"
zeroize = { version = "1.6.0", default-features = false, optional=true } # WARNING: Bumps MSRV to 1.56

[dev-dependencies]
digest = { version = "=0.11.0-pre", features = ["dev"] }
hex-literal = "0.4"

[features]
default = ["std"]
std = ["digest/std"]

asm = ["keccak/asm"] # Enable ASM (currently ARMv8 only). WARNING: Bumps MSRV to 1.59
oid = ["digest/oid"] # Enable OID support. WARNING: Bumps MSRV to 1.57
reset = [] # Enable reset functionality
