[package]
name = "sha3"
version = "0.4.0"
authors = ["The Rust-Crypto Project Developers"]
license = "MIT/Apache-2.0"
description = "SHA-3 (Keccak) hash function"
documentation = "https://docs.rs/sha3"
repository = "https://github.com/RustCrypto/hashes"
keywords = ["crypto", "sha3", "keccak", "hash", "digest"]

[dependencies]
digest = "0.4"
generic-array = "0.6"
byte-tools = "0.1"

[dev-dependencies]
crypto-tests = "0.3"
