[package]
name = "whirlpool"
version = "0.10.0" # Also update html_root_url in lib.rs when bumping this
description = "Whirlpool hash function"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
readme = "README.md"
edition = "2018"
documentation = "https://docs.rs/whirlpool"
repository = "https://github.com/RustCrypto/hashes"
keywords = ["crypto", "whirlpool", "hash", "digest"]
categories = ["cryptography", "no-std"]

[dependencies]
digest = "0.10"
whirlpool-asm = { version = "0.6", optional = true}

[dev-dependencies]
digest = { version = "0.10", features = ["dev"] }
hex-literal = "0.2"

[features]
default = ["std"]
std = ["digest/std"]
asm = ["whirlpool-asm"]
