[package]
name = "sha-1"
version = "0.8.2"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
description = "SHA-1 hash function"
documentation = "https://docs.rs/sha-1"
repository = "https://github.com/RustCrypto/hashes"
keywords = ["crypto", "sha1", "hash", "digest"]
categories = ["cryptography", "no-std"]

[lib]
name = "sha1"

[dependencies]
digest = "0.8"
block-buffer = "0.7"
fake-simd = "0.1"
sha1-asm = { version = "0.4", optional = true }
opaque-debug = "0.2"
libc = { version = "0.2", optional = true }

[dev-dependencies]
digest = { version = "0.8", features = ["dev"] }
hex-literal = "0.1"

[features]
default = ["std"]
std = ["digest/std"]
asm = ["sha1-asm"]

# TODO: Remove this feature once is_aarch64_feature_detected!() is stabilised.
# Only used on AArch64 Linux systems.
asm-aarch64 = ["asm", "libc"]

[badges]
travis-ci = { repository = "RustCrypto/hashes" }
