[package]
name = "k12"
version = "0.2.0" # Also update html_root_url in lib.rs when bumping this
description = "Experimental pure Rust implementation of the KangarooTwelve hash function"
authors = ["Diggory Hardy <github1@dhardy.name>"]
license = "Apache-2.0 OR MIT"
readme = "README.md"
edition = "2018"
documentation = "https://docs.rs/k12"
repository = "https://github.com/RustCrypto/hashes"
keywords = ["crypto", "hash", "digest"]
categories = ["cryptography", "no-std"]

[dependencies]
digest = { version = "0.10", features = ["alloc"] }

[dev-dependencies]
digest = { version = "0.10", features = ["alloc", "dev"] }
hex-literal = "0.2"

[features]
default = ["std"]
std = ["digest/std"]
