[package]
name = "k12"
version = "0.4.0-pre"
description = "Pure Rust implementation of the KangarooTwelve hash function"
authors = ["RustCrypto Developers", "Diggory Hardy <github1@dhardy.name>"]
license = "Apache-2.0 OR MIT"
readme = "README.md"
edition = "2021"
documentation = "https://docs.rs/k12"
repository = "https://github.com/RustCrypto/hashes"
keywords = ["crypto", "hash", "digest"]
categories = ["cryptography", "no-std"]
rust-version = "1.71"

[dependencies]
digest = { version = "=0.11.0-pre.5", default-features = false, features = ["core-api"] }
sha3 = { version = "=0.11.0-pre.1", default-features = false, path = "../sha3" }

[dev-dependencies]
digest = { version = "=0.11.0-pre.5", features = ["alloc", "dev"] }
hex-literal = "0.4"

[features]
default = ["std"]
std = ["digest/std"]
