[package]
name = "streebog"
version = "0.11.0-pre"
description = "Streebog (GOST R 34.11-2012) hash function"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
readme = "README.md"
edition = "2021"
documentation = "https://docs.rs/streebog"
repository = "https://github.com/RustCrypto/hashes"
keywords = ["crypto", "streebog", "gost", "hash", "digest"]
categories = ["cryptography", "no-std"]
rust-version = "1.65"

[dependencies]
digest = "=0.11.0-pre"

[dev-dependencies]
digest = { version = "=0.11.0-pre", features = ["dev"] }
hex-literal = "0.4"

[features]
default = ["std"]
std = ["digest/std"]
oid = ["digest/oid"] # Enable OID support. WARNING: Bumps MSRV to 1.57
