[package]
name = "ripemd"
version = "0.1.0" # Also update html_root_url in lib.rs when bumping this
description = "Pure Rust implementation of the RIPEMD hash functions"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
readme = "README.md"
edition = "2018"
documentation = "https://docs.rs/ripemd"
repository = "https://github.com/RustCrypto/hashes"
keywords = ["crypto", "ripemd", "hash", "digest"]
categories = ["cryptography", "no-std"]

[dependencies]
digest = "0.10"

[dev-dependencies]
digest = { version = "0.10", features = ["dev"] }
hex-literal = "0.2"

[features]
default = ["std"]
std = ["digest/std"]
