[package]
name = "sm3"
version = "0.5.0-pre"
description = "SM3 (OSCCA GM/T 0004-2012) hash function"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
readme = "README.md"
edition = "2021"
documentation = "https://docs.rs/sm3"
repository = "https://github.com/RustCrypto/hashes"
keywords = ["crypto", "sm3", "hash", "digest"]
categories = ["cryptography", "no-std"]
rust-version = "1.65"

[dependencies]
digest = "=0.11.0-pre"

[dev-dependencies]
digest = { version = "=0.11.0-pre", features = ["dev"] }
hex-literal = "0.4"

[features]
default = ["std"]
std = ["digest/std"]
