[package]
name = "shabal"
version = "0.5.0-pre"
description = "Shabal hash functions"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
readme = "README.md"
edition = "2021"
documentation = "https://docs.rs/shabal"
repository = "https://github.com/RustCrypto/hashes"
keywords = ["crypto", "shabal", "hash", "digest"]
categories = ["cryptography", "no-std"]
rust-version = "1.71"

[dependencies]
digest = "=0.11.0-pre.5"

[dev-dependencies]
digest = { version = "=0.11.0-pre.5", features = ["dev"] }
hex-literal = "0.4"

[features]
default = ["std"]
std = ["digest/std"]
