[package]
name = "skein"
version = "0.3.0"
authors = ["Kaz Wesley <keziahw@gmail.com>"]
license = "MIT/Apache-2.0"
description = "Skein hash functions"
repository = "https://github.com/RustCrypto/hashes"
keywords = ["crypto", "skein", "hash", "digest"]
categories = ["cryptography", "no-std"]

[dependencies]
block-buffer = "0.7"
block-padding = "0.1.0"
byte-tools = "0.3"
digest = "0.8"
threefish = { git = "git://github.com/kazcw/RustCrypto-block-ciphers", branch = "threefish", version = "0.1.0" }
