name: blake2

on:
  pull_request:
    paths:
      - ".github/workflows/blake2.yml"
      - "blake2/**"
      - "Cargo.*"
  push:
    branches: master

defaults:
  run:
    working-directory: blake2

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.41.0 # MSRV
          - stable
        target:
          - thumbv7em-none-eabi
          - wasm32-unknown-unknown
    steps:
      - uses: actions/checkout@v3
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          targets: ${{ matrix.target }}
      - run: cargo build --no-default-features --target ${{ matrix.target }}

  minimal-versions:
    uses: RustCrypto/actions/.github/workflows/minimal-versions.yml@master
    with:
        working-directory: ${{ github.workflow }}

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.41.0 # MSRV
          - stable
    steps:
      - uses: actions/checkout@v3
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - run: cargo test --no-default-features
      - run: cargo test
      - run: cargo test --features reset
  simd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2021-05-01
      - run: cargo test --features simd
      - run: cargo test --features simd_opt
      - run: cargo test --features simd_asm

  # Cross-compiled tests
  cross:
    strategy:
      matrix:
        rust:
          - 1.51 # 1.41-1.50 `--features` can't be used inside virtual manifest
          - stable
        target:
          - aarch64-unknown-linux-gnu
          - mips-unknown-linux-gnu
        features:
          - default

    runs-on: ubuntu-latest
    defaults:
      run:
      # Cross mounts only current package, i.e. by default it ignores workspace's Cargo.toml
        working-directory: .
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/cross-tests
        with:
          rust: ${{ matrix.rust }}
          package: ${{ github.workflow }}
          target: ${{ matrix.target }}
          features: ${{ matrix.features }}

  # Build iterate all no_std feature combos
  build-nostd-features:
    name: Build features on no_std target (thumbv7em-none-eabi)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: thumbv7em-none-eabi
      - uses: taiki-e/install-action@cargo-hack
      # No default features build
      - run: cargo hack build --target thumbv7em-none-eabi --release --each-feature --exclude-features default,std
