name: k12

on:
  pull_request:
    paths:
      - "k12/**"
      - "Cargo.*"
  push:
    branches: master
    paths:
      - "k12/**"
      - "Cargo.*"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.41.0 # MSRV
          - stable
        target:
          # - thumbv7em-none-eabi # TODO: no_std w/o liballoc
          - wasm32-unknown-unknown
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.target }}
          override: true
      - working-directory: k12
        run: cargo build --no-default-features --release --target ${{ matrix.target }}
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.41.0 # MSRV
          - stable
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
      - working-directory: k12
        run: |
          cargo check --all-features
          cargo test --no-default-features
          cargo test
          cargo test --all-features

